---
import { type CollectionEntry, getCollection, render } from "astro:content"
import Layout from "@/layouts/Layout.astro"
import { formatDate } from "@/lib/utils"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { id: post.id },
    props: post,
  }))
}
type Props = CollectionEntry<"posts">

const post = Astro.props;
const { Content } = await render(post)
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
>
  <div>
    <h1 class="mb-2 text-xl font-medium">
      {post.data.title}
    </h1>
    <p class="pb-4 font-medium text-gray-500 dark:text-zinc-500">
      {formatDate(post.data.date)}
    </p>
  </div>
  <article>
    <Content />
  </article>
</Layout>
