---
import config from '@config'
import Layout from '@layouts/Layout.astro'
import { formatDate } from '@lib/utils'
import { getCollection } from 'astro:content'

const collection = await getCollection('posts')
const posts = collection.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)
---

<Layout title="Posts" description={config.description}>
  <ul class="flex flex-col gap-1.5">
    {
      posts.map(post => (
        <li>
          <a
            href={`/posts/${post.id}`}
            class="group flex gap-3 justify-between"
          >
            <span class="group-hover:underline" transition:name={`post-title-${post.id}`}>{post.data.title}</span>
            <span class="text-gray-500 text-nowrap dark:text-zinc-500">
              {formatDate(post.data.date)}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
