---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Indicator from '@/components/Indicator.astro'
import config from '@/config'
import Layout from '@/layouts/Layout.astro'
import { formatDate } from '@/lib/utils'

const collection = await getCollection('posts')

function getDisplayDate(post: CollectionEntry<'posts'>): Date {
  return post.data.updatedAt || post.data.publishedAt
}

function getSortDate(post: CollectionEntry<'posts'>): number {
  const date = post.data.updatedAt || post.data.publishedAt
  return date.valueOf()
}

function isUpdated(post: CollectionEntry<'posts'>): boolean {
  return !!post.data.updatedAt
}

const posts = collection.sort((a, b) => getSortDate(b) - getSortDate(a))
---

<Layout title="Writing"section="Writing"description={config.description}>
  <ul class="flex flex-col gap-1.5">
    {
      posts.map((post) => {
        const displayDate = getDisplayDate(post)
        const updated = isUpdated(post)

        return (
          <li>
            <span class="group flex gap-3 justify-between items-start">
              <span>
                <a href={`/posts/${post.id}`} transition:name={`post-title-${post.id}`} class="group-hover:underline">
                  {post.data.title}
                </a>
                {updated && post.data.updatedAt && (
                  <Indicator
                    title={`Published on ${formatDate(post.data.publishedAt)}\nUpdated on ${formatDate(post.data.updatedAt)}`}
                    class="ml-1 translate-y-[0.25em] text-gray-500 text-nowrap dark:text-zinc-500"
                  >
                   Updated
                  </Indicator>
                )}
              </span>
              <span class="text-gray-500 text-nowrap dark:text-zinc-500 flex items-center gap-2">
                {formatDate(displayDate)}
              </span>
            </span>
          </li>
        )
      })
    }
  </ul>
</Layout>
