---
import Indicator from '@/components/Indicator.astro'
import config from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts } from '@/lib/client'
import { formatDate } from '@/lib/utils'

const data = await getAllPosts()
const posts = data.publication.posts.edges

function getDisplayDate(publishedAt: string): Date {
  return new Date(publishedAt)
}

function formatReadTime(minutes: number): string {
  return `${minutes} min read`
}
---

<Layout title="Posts" description={config.description}>
  <ul class="flex flex-col gap-1.5">
    {
      posts.map((post) => {
        const displayDate = getDisplayDate(post.node.publishedAt)

        return (
          <li>
            <span class="group flex gap-3 justify-between items-start">
              <span>
                <a href={`/posts/${post.node.slug}`} transition:name={`post-title-${post.node.slug}`} class="group-hover:underline">{post.node.title}</a>
                {post.node.subtitle && (
                  <Indicator
                    title={post.node.subtitle}
                    class="ml-1 translate-y-[0.25em] text-gray-500 text-nowrap dark:text-zinc-500"
                  >
                   {formatReadTime(post.node.readTimeInMinutes)}
                  </Indicator>
                )}
              </span>
              <span class="text-gray-500 text-nowrap dark:text-zinc-500 flex items-center gap-2">
                {formatDate(displayDate)}
              </span>
            </span>
          </li>
        )
      })
    }
  </ul>
</Layout>
