---
import Badge from '@components/Badge.astro'
import config from '@config'
import Layout from '@layouts/Layout.astro'
import { formatDate } from '@lib/utils'
import { getCollection } from 'astro:content'

const collection = await getCollection('posts')
const posts = collection.sort(
  (a, b) => {
    const aDate = a.data.updatedDate || a.data.createdDate
    const bDate = b.data.updatedDate || b.data.createdDate
    return bDate.valueOf() - aDate.valueOf()
  },
)
---

<Layout title="Posts" description={config.description}>
  <ul class="flex flex-col gap-1.5">
    {
      posts.map(post => (
        <li>
          <a
            href={`/posts/${post.id}`}
            class="group flex gap-3 justify-between items-center"
          >
            <span transition:name={`post-title-${post.id}`}>
              {post.data.updatedDate
                ? (
                <>
                  <span class="group-hover:underline">{post.data.title}</span>{' '}
                  <Badge
                    title={`Published on ${formatDate(post.data.createdDate)}\nUpdated on ${formatDate(post.data.updatedDate)}`}
                    class="text-gray-500 text-nowrap dark:text-zinc-500 inline-block -translate-y-[0.1em]"
                  >
                    Updated
                  </Badge>
                </>
              )
              : (
                <span class="group-hover:underline">{post.data.title}</span>
              )}
            </span>
            <span class="text-gray-500 text-nowrap dark:text-zinc-500 flex items-center gap-2">
              {post.data.updatedDate
                ? (
                formatDate(post.data.updatedDate)
              )
              : (
                formatDate(post.data.createdDate)
              )}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
