---
import config from '@/constants/config'
import { cn } from '@/lib'
import ThemeToggle from './ThemeToggle.astro'

type Props = {
  section?: string | undefined
  titleClass?: string
}

const { section } = Astro.props

const navLinks = config.header.navLinks
const filteredNavLinks = section
  ? navLinks.filter((link) => link.text !== section)
  : navLinks

const sectionNavLink = section
  ? navLinks.find((link) => link.text === section)
  : null
---

<header class="flex items-center justify-between" transition:name="header">
  <div class="flex gap-1 items-center">
    <a href="/" class={cn('text-gray-900 dark:text-zinc-100', !section && 'font-medium')}>
      {config.title}
    </a>
    {section && (
      <>
        <span class="text-gray-400 dark:text-zinc-600">/</span>
        {sectionNavLink
          ? (
            <a href={sectionNavLink.href} class="text-gray-500 hover:text-gray-900 hover:underline dark:text-zinc-500 dark:hover:text-zinc-100">
              {section}
            </a>
          )
          : (
            <span class="text-gray-500 dark:text-zinc-500">{section}</span>
          )}
      </>
    )}
  </div>

  <nav class="flex gap-4 items-center">
    {filteredNavLinks.map(link => (
      <a class="text-gray-500 hover:text-gray-900 hover:underline dark:text-zinc-500 dark:hover:text-zinc-100" href={link.href}>
        {link.text}
      </a>
    ))}
    <ThemeToggle />
  </nav>
</header>
