---
import type { CollectionEntry } from 'astro:content'
import Indicator from '@/components/Indicator.astro'
import { formatDate } from '@/lib/utils'

interface Props {
  post: CollectionEntry<'posts'>
  content?: string
}

const { post } = Astro.props
---

<div class="font-medium text-gray-500 dark:text-zinc-500 flex items-center gap-2 flex-wrap">
  <time
    datetime={post.data.publishedAt.toISOString()}
    title={`Published on ${formatDate(post.data.publishedAt)}`}
  >
    {formatDate(post.data.publishedAt)}
  </time>
  {post.data.updatedAt && (
    <Indicator alwaysShowLabel>
      <time datetime={post.data.updatedAt.toISOString()}>
        Updated on {formatDate(post.data.updatedAt)}
      </time>
    </Indicator>
  )}
</div>
