---
import BackButton from '@/components/ui/BackButton.astro'
import CopyCode from '@/components/ui/CopyCode.astro'
import Footer from '@/components/layout/Footer.astro'
import GradientMask from '@/components/ui/GradientMask.astro'
import ImageOptimizer from '@/components/ui/ImageOptimizer.astro'
import MediaViewer from '@/components/ui/MediaViewer.astro'
import TableOfContents from '@/components/ui/TableOfContents.astro'
import FootnoteScroll from '@/components/widgets/FootnoteScroll.astro'
import WritingMeta from '@/components/widgets/WritingMeta.astro'
import LinkCard from '@/components/ui/LinkCard.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import config from '@/config'
import type { CollectionEntry } from 'astro:content'

type Props = {
  writing: CollectionEntry<'writings'>
  toc?: { level: number; text: string; id: string }[]
  readingTime?: string | undefined
}

const { writing, toc = [], readingTime } = Astro.props
const hasToc = toc.length > 0

function getImageUrl() {
  if (writing.data.image) return writing.data.image
  return `${config.workerHost}/og?title=${encodeURIComponent(writing.data.title)}`
}
const imageUrl = getImageUrl()
---

<BaseLayout
  title={writing.data.title}
  description={writing.data.description}
  image={imageUrl}
  pubDate={writing.data.pubDate.toISOString()}
  type="post"
>
  <slot name="structured-data" slot="structured-data" />
  <div class="post-container flex flex-col flex-1">
    <main class="flex-1">
      <div class="prose">
        <GradientMask />
        <BackButton />
        {hasToc && <TableOfContents toc={toc} />}
        <div class="title">
          <h1>{writing.data.title}</h1>
          <WritingMeta writing={writing} readingTime={readingTime} />
        </div>
        <article class="content">
          <LinkCard />
          <slot />
        </article>
      </div>
    </main>
    <ImageOptimizer />
    <MediaViewer />
    <FootnoteScroll />
    <CopyCode />
    <Footer />
  </div>
</BaseLayout>
