---
import type { CollectionEntry } from 'astro:content'
import { getCollection, render } from 'astro:content'
import WritingMeta from '@/components/WritingMeta.astro'
import Layout from '@/layouts/Layout.astro'
import { createWritingStructuredData } from '@/lib/writing'

export async function getStaticPaths() {
  const writings = await getCollection('writings')
  return writings.map((entry) => ({
    params: { id: entry.id },
    props: entry,
  }))
}

type Props = CollectionEntry<'writings'>

const writing = Astro.props
const { Content } = await render(writing)

const structuredData = createWritingStructuredData(writing)
---

<Layout
  title={writing.data.title}
  description={writing.data.description}
  section="Writing"
  image={writing.data.image}
  datePublished={writing.data.added.toISOString()}
  {...(writing.data.updated && { dateModified: writing.data.updated.toISOString() })}
>
  <script
    type="application/ld+json"
    set:html={JSON.stringify(structuredData)}
    slot="structured-data"
  />

  <div class="mb-8">
    <h1
      class="font-medium mb-2 tracking-tight leading-tight text-heading"
      transition:name={`writing-id-${writing.id}`}
    >
      {writing.data.title}
    </h1>
    <WritingMeta writing={writing} />
  </div>
  <article>
    <Content />
  </article>
</Layout>
